@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* :root {
    --primary: #bc4123;
    --secondary: #1e3e62;
    --font: #e9efec;
  } */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #241a3a;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  row-gap: 100px;
}

.search {
  display: flex;
  justify-content: center;
}

.list {
  color: rgb(187, 202, 214);
  font-size: 1.2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  background: rgba(179, 177, 177, 0.2);
  border-radius: 10px;
  margin: 10px 0;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.btn button {
  background: rgb(187, 202, 214);
  border-radius: 8px;
  display: inline-block;
  height: 40px;
  width: 100px;
  margin: 10px 10px 10px 10px;
}

.wrapper {
  width: 500px;
  max-width: 100%;
  position: relative;
}

.wrapper input {
  color: rgb(187, 202, 214);
  font-size: 1.1rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(187, 202, 214);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 100%;
}

.wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.wrapper input:focus {
  outline: 2px solid rgb(255, 255, 255);
}

.wrapper button {
  background: rgb(187, 202, 214);
  border-radius: 8px;
  aspect-ratio: 1;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 5px;
}

a {
  text-decoration: none;
}

.list a {
  color: rgb(240, 201, 173);
}
